body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #ec77fc, #d7fc54);
}
h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
	background: linear-gradient(to right, #00ffff 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: bold;
}

.subheading {
    background: linear-gradient(to right, #00ff0d 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-left: 2cm;
    font-size: 30px;
}

.btxt {
    margin-left: 4cm;
    background: linear-gradient(to right, #00718d 0%, #23ce1d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: bold;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    background: linear-gradient(to right, #39b7d6 0%, #db29ff 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

weblink {
    align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}